service cloud.firestore {
  match /databases/{database}/documents {
    match /user-settings/{userId} {
      allow read,write: if userId == request.auth.uid;
    }
  }
}