<style>
    #senpai2 {
        background-color: #00685b;
        min-height: 100%;
        width: 100%;
        color: white;
    }
    
    #senpai2 h5 {
        margin-top: 36px;
        margin-bottom: 16px;
    }
    
    .intro-text {
        width: 40%;
        margin-bottom: 30px;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        height: calc(100% - 56px);
        width: 100%;
    }
    
    .collection-store {
        margin-top: 0.2rem;
        margin-bottom: 0.2rem;
        border: none;
    }
    
    .collection-store .col {
        padding: .75rem;
        background-color: antiquewhite;
    }
    
    .collection-stores {
        margin-bottom: 60px;
    }
    
    .store-img {
        width: 50%;
    }
    
    .store-img img {
        float: left;
    }
    
    .connect {
        width: 50%;
    }
    
    .connect a {
        float: right;
        background-color: #ffba34;
    }
    
    .connect a:hover {
        background-color: #ffba34;
    }
    
    .add-fridge_but-nav-group {
        font-size: 20px;
        font-weight: 500;
        width: 100%;
        bottom: 0;
        position: fixed;
        background-color: #439688;
        z-index: 2;
    }
    
    .add-fridge_but-nav-group>div {
        padding: 6px;
    }
    
    .add-fridge_but-nav-group>div>a {
        padding-left: 10px;
        padding-right: 10px;
    }
    /* DEMAT*/
    
    .btn-flat,
    .btn-flat i {
        font-size: inherit;
    }
    
    .btn-flat {
        padding: 0;
        color: white;
    }
    
    .btn-flat i {
        font-size: 26px;
    }

</style>
<div class="row">
    <h5 class="col s12 center-align">Store Accounts</h5>
    <p class="intro-text col s10 offset-s1 center-align">A naked women robbed a bank. Nobody could remember her face / My dog used to chase people on a bike a lot. It got so bad, finally I had to take his bike away. </p>
</div>
<div>
    <div class="row collection-stores ">
        <ul class="collection collection-store col s12 valign-wrapper">
            <li class="test collection-item col s12 valign-wrapper">
                <div class="store-img">
                    <img src="https://vignette.wikia.nocookie.net/logopedia/images/9/95/Irma_logo.svg/revision/latest?cb=20101218191602" alt="" height="25"></div>
                <div class="connect">
                    <a class="waves-effect waves-light btn">connect</a>
                </div>
            </li>
        </ul>
        <ul class="collection collection-store col s12 valign-wrapper">
            <li class="test collection-item col s12 valign-wrapper">
                <div class="store-img">
                    <img src="http://www.ottail.no/uploads/1/6/9/9/16993152/5996061_orig.jpeg" alt="" height="25"></div>
                <div class="connect">
                    <a class="waves-effect waves-light btn">connect</a>
                </div>
            </li>
        </ul>
        <ul class="collection collection-store col s12 valign-wrapper">
            <li class="test collection-item col s12 valign-wrapper">
                <div class="store-img">
                    <img src=" https://www.ciklum.com/wp-content/uploads/2015/03/bilke_logo.png" alt="" height="25"></div>
                <div class="connect">
                    <a class="waves-effect waves-light btn">connect</a>
                </div>
            </li>
        </ul>
        <ul class="collection collection-store col s12 valign-wrapper">
            <li class="test collection-item col s12 valign-wrapper">
                <div class="store-img">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/F%C3%B8tex_logo.svg" alt="" height="25"></div>
                <div class="connect">
                    <a class="waves-effect waves-light btn">connect</a>
                </div>
            </li>
        </ul>
        <ul class="collection collection-store col s12 valign-wrapper">
            <li class="test collection-item col s12 valign-wrapper">
                <div class="store-img">
                    <img src="https://upload.wikimedia.org/wikipedia/en/3/3c/Netto_Logo.svg" alt="" height="25"></div>
                <div class="connect">
                    <a class="waves-effect waves-light btn">connect</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="add-fridge_but-nav-group">
    <div class="left">
        <a class="waves-effect waves-teal btn-flat"><i class="material-icons">chevron_left</i></a>
    </div>
    <div class="right">
        <a class="waves-effect waves-teal btn-flat">
            <p class="left">NEXT</p> <i class="material-icons">chevron_right</i></a>
    </div>
</div>
